<h1>TASKS</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Body</th>
        </tr>
    </thead>

    <tbody>
        <% @tasks.each do |task| %>
            <tr>
                <td><%= task.id %></td>
                <td><%= task.body %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'Add Task', new_category_task_path(@category) %>
